---
title:  18th Workshop on Compiler-Driven Performance 2019
banner-image-list:
    - url: img/Hilton_Markham.webp
    - url: img/Hilton_Markham_interior.webp
    - url: img/CASCON_team.jpg
    - url: img/CASCON_plenary.jpg
    - url: img/Hilton_Markham_conference.jpg
---

<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/css/lightslider.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js" defer></script>
<script src="{{ site.baseurl }}/js/lightsliderrun.js" defer></script>

<div style="padding-bottom:0;" class="jumbotron">
  <div class="container">
    <ul id="lightSlider">
      {% for image in page.banner-image-list %}
      <li style="overflow:hidden">
        <div style="height:auto; display:flex; align-item:center;">
          <img style="width:100%; height:auto; align-self: center;" src="{{ image.url }}">
        </div>
      </li>
      {% endfor %}
      {% for image in site.static_files %}
      {% if image.path contains 'img/banner/' %}
      <li>
        <img src="{{ site.baseurl }}{{ image.path }}">
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
<section class="no-top-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="section-heading" style="margin-bottom:.2em;">
          18th Workshop on Compiler-Driven Performance 
        </h1>
        <p class="lead section-lead"><b>06 November 2019, Markham, ON, Canada</b></p>
        <p class="lead section-lead">
          In conjunction with
          <a href="https://www-01.ibm.com/ibm/cas/cascon/">CASCON</a>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Important Dates</b></div>

          <table class="table">
            <tbody>
              <tr>
                <td><!--<s>-->Abstract Submission<!--</s>--></td><td><strike>September 19 2019</strike> September 22 2019</td>
              </tr>
              <tr>
                <td>Notification</td><td>September 23 2019</td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /.panel -->
      </div> <!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Latest Updates</b></div>

          <table class="table">
	    <tbody>
    	      <tr><td><b>01 August 2019:</b> Workshop Proposal Submitted</td></tr>
    	      <tr><td><b>27 August 2019:</b> Workshop Proposal Accepted</td></tr>
            </tbody>
          </table>
        </div> <!-- /.panel -->
      </div> <!-- /.col-md-6 -->
    </div> <!-- /.row -->

</section>
    
